	body
	{
		font-family:sans-seriff;
	}
	#container
	{
		width:1000px;
		margin-left:auto;
		margin-right:auto;
		background-color:yellow;

	}
	.rect
	{
		background-color:orange;
		text-align:center;
		width:960px;
		margin:20px;
		clear:both;
	}
	.square
	{
		color:white;
		float:left;
		width:46%;
		height:350px;
		background-color:black;
		margin:20px;
	}
	.smallt
	{
		width:47.5%;
		height:100px;
		background-color:green;
		margin:1.23%;
		float:left;
	}
	.medt
	{
		width:95%;
		height:100px;
		background-color:purple;
		margin:2.5%;
	}
	.bigt
	{
		width:95%;
		height:200px;
		margin:2.5%;
		background-color:green;
	}
	.linkt
	{
		width:102px;
		height:100px;
		margin:5px;
		background-color:red;
		float:left;
		text-align:center;
	}
	
	#l5 
	{
		background-color:#4668b3;	
		margin-right:10px;
		margin-left:5px;
		
	}
	#l2
	{
		background-color:#d95333;
		margin-left:10px;
		margin-right:5px;
	}
	#l3 
	{
		background-color:#3095d3;
		margin-right:5px;
		margin-left:5px;
	}
	#l4
	{
		background-color:;
		margin-right:5px;
		margin-left:5px;
		
	}
	.clear
	{
		clear:both
	}
	#zegar
	{
		float:left;
	}
	#imię
	{
		float:left;
		text-align:left;
	}

	
